.water-brush-regular {
  font-family: "Water Brush", cursive !important;
  font-weight: 400;
  font-style: normal;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}