
.water-brush-regular {
  font-family: "Water Brush", cursive !important;
  font-weight: 400;
  color:aliceblue;
  font-style: normal;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

body{
    display: flex;
    justify-content: center;
    background-color: wheat;
    height: 100vh;
    width: 100vw;
    margin: 20;
    font-family: Arial, Helvetica, sans-serif;
}

.addBgImage {
  background-image: url(./images/lined-paper-template-6mm-supernote.jpeg);
  background-size: contain; /* Scales the image to cover the entire column area */
  background-position: center; /* Centers the image within the column */
  background-repeat: no-repeat; /* Prevents the image from repeating */
 background-position: canter;
}

.addBgImage img {
  width: auto;       /* Fills the column width */
  height: 100;      /* Maintains aspect ratio */
  object-fit: contain; /* Ensures entire image is visible, no cropping */
}

.left-panel {
    width: 40%;          /* adjust as needed */
    padding: 2rem;
}

.right-panel {
    width: 60%;
    height: 100vh;
    background-image: url('./images/lined-paper-template-6mm-supernote.jpeg');
    background-size: contain;      /* prevents cropping */
    background-repeat: no-repeat;
    background-position: center;
}